body {
  background-color: rgb(196, 235, 248);
}

.container{
  background-color: rgb(5, 48, 63);
  border: 2px solid white;
  height: 250px;
  max-width: 250px; 
  margin: 20vh auto 0 auto;
  border-radius: 15px;
}

.formdiv{
  margin: 70px auto 0 auto;
  text-align: center;
}

#nickname{
  margin: auto;
  width: 100px;
}

#button{
  width: 80px;
  background-color: white;
  margin: 40px auto 0 auto;
  padding: 12px; 
  text-align: center;
  font-family: "Courier New";
  font-size: 16px;
  height: 20px;
  border-radius: 10px;
}

#button:hover{
  cursor: pointer;
}

a:link {
  color: black;
  text-decoration: none
}

a:visited {
  text-emphasis: none;
  text-decoration: none;
  color: black;
}

label{
  font-family: "Courier New";
  margin-bottom: 10px;
}